<h1>{{title}}</h1>


<div class="container">


    <div class="row">
      <div class="col-md-3">
      <!--<label class="lead labelSize"> Portfolio Code : </label>-->
      <!--<select class="lead labelSize " [(ngModel)]="selectedPortfoliocodes.pfcode" (change)="onSelect($event.target.value)">-->
        <!--<option value="">&#45;&#45;Select&#45;&#45;</option>-->
        <!--<option *ngFor="let pf of portfoliocodes" value={{pf.pfcode}}>{{pf.pfcode}} </option>-->
      <!--</select>-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
      <!--<label class="lead labelSize"> Loss Threshold : </label>-->
      <!--<select class="lead labelSize "  (change)="onSelect($event.target.value)">-->
        <!--<option value="">&#45;&#45;Select&#45;&#45;</option>-->
        <!--<option value=".1">.1</option>-->
        <!--<option value=".2">.2</option>-->
        <!--<option value=".4">.4</option>-->
        <!--<option value="1.">1.</option>-->
        <!--<option value="2.">2.</option>-->
        <!--<option value="5.">5.</option>-->

      <!--</select>-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
      <!--<label class="lead labelSize" style="float: left"> Portfolio Date : </label>-->
      <!--<div class="input-group  labelSize col-xs-5" >-->
        <!--<my-date-picker [options]="myDatePickerOptions"-->
                        <!--(dateChanged)="onDateChanged($event)"></my-date-picker></div>-->
      <!--&lt;!&ndash;<select class="lead labelSize "  [(ngModel)]="selectedPortfoliocodes.pfdate" (change)="onSelect($event.target.value)">&ndash;&gt;-->
        <!--&lt;!&ndash;<option value="">&#45;&#45;Select&#45;&#45;</option>&ndash;&gt;-->
        <!--&lt;!&ndash;<option *ngFor="let pf of portfoliocodes" value={{pf.pfdate}}>{{pf.pfdate}} </option>&ndash;&gt;-->
      <!--&lt;!&ndash;</select>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
      <!--<label class="lead labelSize"> SortColumn : </label>-->
      <!--<select class="lead labelSize "  (change)="onSelect($event.target.value)">-->
        <!--<option value="">&#45;&#45;Select&#45;&#45;</option>-->
        <!--<option value="PerilCode">PerilCode</option>-->
        <!--<option value="TVaR">TVaR</option>-->
        <!--<option value="VaR">VaR</option>-->
      <!--</select>-->
    <!--</div>-->
    <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
  <!--<div class="col-md-8">-->
      <!--<app-my-grid-application></app-my-grid-application>-->
    <!--</div>-->
<!--</div>-->
<!--</div>-->
<!--=======-->
  <!--<div class="row">-->
    <label class="lead labelSize"> Portfolio Code</label>
    <select class="lead labelSize ">
      <option value="" selected>--Select--</option>
      <option *ngFor="let pf of portfoliocodes" value={{pf.value}}>{{pf.name}}</option>
    </select>
  <!--</div>-->

  <!--<div class="row">-->
    <label class="lead labelSize"> Loss Threshold </label>
    <select class="lead labelSize ">
      <option value="" selected>--Select--</option>
      <option *ngFor="let lt of lossthresholds" value="{{lt.value}}">{{lt.name}}</option>
    </select>
  <!--</div>-->

  <!--<div class="row">-->
    <label class="lead labelSize"> Portfolio Date </label>
    <select class="lead labelSize ">
      <option value="" selected>--Select</option>
      <option *ngFor="let _pd of portfoliodates" value="{{_pd.name}}">{{_pd.value | date:'MM/dd/yy'}}</option>
    </select>

  </div>


  <div class="col-md-8">
    <ag-grid-angular #agGrid style="width: 210px; height: 360px;font-size: 10px!important;" class="ag-fresh"
                     [gridOptions]="gridOptions">
    </ag-grid-angular>
  </div>
</div>
</div>


<!--<div class="input-group  labelSize col-xs-5">-->
  <!--<my-date-picker [options]="myDatePickerOptions"-->
                  <!--(dateChanged)="onDateChanged($event)"></my-date-picker>-->
<!--</div>-->
<!--<div class="row">-->
<!--<label class="lead labelSize"> SortColumn : </label>-->
<!--<select class="lead labelSize "  (change)="onSelect($event.target.value)">-->
<!--<option value="">&#45;&#45;Select&#45;&#45;</option>-->
<!--<option value="PerilCode">PerilCode</option>-->
<!--<option value="TVaR">TVaR</option>-->
<!--<option value="VaR">VaR</option>-->
<!--</select>-->
<!--</div>

<!--<select class="lead labelSize "  [(ngModel)]="selectedPortfoliocodes.pfdate" (change)="onSelect($event.target.value)">-->
<!--<option value="">&#45;&#45;Select&#45;&#45;</option>-->
<!--<option *ngFor="let pf of portfoliocodes" value={{pf.pfdate}}>{{pf.pfdate}} </option>-->
<!--</select>-->
