header {
  width: 100% !important;
  padding-left: 1%;
  padding-right: 1%;

  height: 65px;
  border-bottom: 1px solid #cfcfcf ;


}

body {
  padding-bottom: 100px;
  font-size: 10px !important;
}

header h1#logo {
  display: inline-block;
  float: left;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  transition: all 0.3s;
}
h1{
  font-size: 16px;
}

#logo > img {

  width: 36%;
}
.lead{
  font-size: 10px !important;
  line-height: 2 !important;

}

#wrapper {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}

#wrapper.toggled {
  padding-left: 250px;
  overflow: scroll;
}

#sidebar-wrapper {
  /*z-index: 1000;*/
  position: absolute;
  left: 250px;
  margin-left: -250px;
  overflow-y: auto;
  background: transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 150px;
}

#sidebar-wrapper {
  width: 150px;
  height: 100% !important;
  display: table-cell;

}

#wrapper.toggled #sidebar-wrapper {
  width: 150px;
}

#wrapper.toggled-2 #sidebar-wrapper {
  width: 150px;
}

#wrapper.toggled-2 #sidebar-wrapper:hover {
  width: 150px;
}

#page-content-wrapper {
  position: absolute;
  /*padding: 15px;*/
  width: 100%;
  overflow-x: hidden;
}

.xyz {
  min-width: 200px;
  /*min-height: 1000px;*/
}

#wrapper.toggled #page-content-wrapper {
  position: relative;
  margin-right: 0px;
}

.fixed-brand {
  width: auto;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 150px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 2px;
}

.sidebar-nav li {
  text-indent: 7px;
  line-height: 28px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: black;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #999999;
  /*background: rgba(255,255,255,0.2);*/
  border-left: dodgerblue 2px solid;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 50px;
  font-size: 10px;
  line-height: 10px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: black;
  background: none;
}

.no-margin {
  margin: 0;
}

.rightContent {
  margin-top: -35px;
}

.footer {
  clear: both;
  width: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  height: 30px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

.labelSize {
  margin-bottom: 1px;
  width: 85px;


}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 150px;
  }

  .fixed-brand {
    width: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #page-content-wrapper {
    /*padding: 20px;*/
    position: relative;
    width: 100% !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
    padding-left: 250px;
  }

  #wrapper.toggled-2 #page-content-wrapper {
    position: relative;
    margin-right: 0;
    margin-left: -200px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: auto;

  }
}
.footer {
  clear: both;
  width: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  height: 30px;
}

.footer > .container {
  padding-right: 6px;
  padding-left: 6px;
  padding-top: 4px;
}
.col-md-3{
  width: 22%;

}



