

<body>
  <!--  Header -->
  <header>
    <h1 id="logo">
      <img src="../assets/images/logo.gif" class="img-responsive" alt="Fermat Capital Management LLC "/>
    </h1>
    <div class="pull-right" style="margin-top: 3%">
      <span class="label label-success pull-right"> Current Build: {{buildNumber}}</span> <br>
      <span class="label label-primary pull-right"> Local time : {{dateObj | date: 'medium'}} </span>
    </div>
  </header>

  <div class="clearfix"></div>

  <app-menu></app-menu>

  <div class="clearfix"></div>


  <footer class="footer navbar-fixed-bottom">
    <div class="container">
      <p class="text-info">&copy; Fermat Capital Management, LLC 2017</p>
    </div>
  </footer>
</body>

